<ion-header [translucent]="true" mode="ios" class="ion-no-border"> <!-- Sirve para que se mantenga la el mismo disenio tanto en IOS como en Android y quita el borde -->
  <ion-toolbar>
    <ion-title>
      Chancho's News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Chancho's News</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-articles
    [articles]="articles"
  ></app-articles>

</ion-content>
